<a href="https://colab.research.google.com/github/sanjibsinha/Machine-Learning-Primer/blob/inter/pd_four.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/sanjibsinha/Machine-Learning-Primer/main/world_internet_user.csv', encoding = 'unicode_escape', engine ='python')
df.head()

          Country   Region  Population  Internet Users  % of Population
0          _World      NaN  7920539977      5424080321            68.48
1      Afganistan     Asia    40403518         9237489            22.86
2         Albania   Europe     2872758         2191467            76.28
3         Algeria   Africa    45150879        37836425            83.80
4  American Samoa  Oceania       54995           34800            63.28

In [2]:
df.head(-10) # avoiding last ten

,Country,Region,Population,Internet Users,% of Population
0,_World,NaN,7920539977,5424080321,68.48
1,Afganistan,Asia,40403518,9237489,22.86
2,Albania,Europe,2872758,2191467,76.28
3,Algeria,Africa,45150879,37836425,83.80
4,American Samoa,Oceania,54995,34800,63.28
...,...,...,...,...,...
228,United Arab Emirates,Middle East,10088517,12176400,120.70
229,United Kingdom,Europe,68468662,65045228,95.00
230,United States,America,335226482,312320000,93.17
231,Uruguay,America,3493160,3261800,93.38
232,US Virgin Islands,America,104179,67540,64.83

In [3]:
df.tail()

             Country       Region  Population  Internet Users  % of Population
238  Wallis & Futuna      Oceania       10932            6200            56.71
239   Western Sahara       Africa      611875           28000             4.58
240            Yemen  Middle East    30938435         8353377            27.00
241           Zambia       Africa    18920651         9870427            52.17
242         Zimbabwe       Africa    15092171         8400000            55.66

In [4]:
# summary statistics we need for data science
df.describe()

         Population  Internet Users  % of Population
count  2.430000e+02    2.430000e+02       243.000000
mean   6.518963e+07    4.464264e+07        69.921111
std    5.235850e+08    3.579556e+08        27.426974
min    5.960000e+02    4.140000e+02         0.080000
25%    3.321120e+05    2.049585e+05        52.190000
50%    5.302778e+06    2.864000e+06        77.940000
75%    2.025171e+07    9.898751e+06        91.010000
max    7.920540e+09    5.424080e+09       120.700000

In [5]:
# number of rows and columns
df.shape

(243, 5)

In [6]:
# data type of each column of which some of them are objects
df.dtypes

Country             object
Region              object
Population           int64
Internet Users       int64
% of Population    float64
dtype: object

In [7]:
df.describe(include=['object'])

       Country  Region
count      243     242
unique     243       6
top     _World  Africa
freq         1      58

In [8]:
df.pop('Region')

0              NaN
1             Asia
2           Europe
3           Africa
4          Oceania
          ...
238        Oceania
239         Africa
240    Middle East
241         Africa
242         Africa
Name: Region, Length: 243, dtype: object

In [9]:
df.describe(include=['object'])

       Country
count      243
unique     243
top     _World
freq         1